<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <script>
      var T = { start: Date.now() };
    </script>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <title><%= htmlConfig.title %></title>

    <!-- KEYWORDS_PLACEHOLDER -->
    <meta name="keywords" content="<%= htmlConfig.keywords %>" />
    <!-- DESCRIPTION_PLACEHOLDER -->
    <meta name="description" itemprop="description" content="<%= htmlConfig.description %>" />

    <!-- 微信QQ分享支持 -->
    <meta itemprop="name" content="<%= htmlConfig.title %>" />
    <meta itemprop="image" content="./assets/images/icon.png" />

    <link rel="shortcut icon" type="image/ico" href="./assets/images/icon.png" />

    <!-- 添加dns预处理 -->
    <link rel="dns-prefetch" href="//7.url.cn" />

    <!-- 重置浏览器样式 -->
    <link rel="stylesheet" href="./assets/css/reset.css?_inline" />

    <!-- 支持rem -->
    <% if (rem) { %>
    <script src="./assets/rem.js?_inline"></script>
    <% } %>

    <script>
      T.header = Date.now();
    </script>

    <!-- STYLE_PLACEHOLDER -->
  </head>

  <body>
    <div id="react-body"><!-- HTML_PLACEHOLDER --></div>

    <script>
      T.body = Date.now();
    </script>

    <!-- STATE_PLACEHOLDER -->

    <script>
      T.mainStart = Date.now();
    </script>

    <!-- RESOURCEMAP_PLACEHOLDER -->

    <!-- SCRIPT -->
    <script>
      window.BJ_REPORT && window.BJ_REPORT.info('PV：' + location.pathname);
    </script>
  </body>
</html>
